@yellow: #fffa20;
@red: #db2f23;
@green: #3ad678;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @red;
  color: white;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  .margenes(10px, 0px); 
}

.card-hotel {
  flex: 1 200px;
  /* Ya no se necesita ---> 	padding: 2px 0px 2px 0px; */
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.button-plus-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }